/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: rgb(126,211,223);
  background: linear-gradient(180deg, rgba(126,211,223,1) 0%, rgba(133,224,237,1) 9%, rgba(97,194,208,1) 85%);

}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}


.feature {
  text-align: center;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.titleImage {
  width:25%;
}
